<div class="container">
    <h2>Lights</h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="lights btn-group" data-toggle="buttons">
                <label class="btn btn-lg btn-default active">
                    <input type="radio" name="lights" value="single-1">
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                </label>
                <label class="btn btn-lg btn-default">
                    <input type="radio" name="lights" value="single-2">
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                </label>
                <label class="btn btn-lg btn-default">
                    <input type="radio" name="lights" value="single-3">
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                </label>
                <label class="btn btn-lg btn-default">
                    <input type="radio" name="lights" value="group-2">
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                </label>
                <label class="btn btn-lg btn-default">
                    <input type="radio" name="lights" value="group-3">
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                </label>
                <label class="btn btn-lg btn-default">
                    <input type="radio" name="lights" value="group-4">
                    <i class="fa fa-lightbulb-o fa-2x silver"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                </label>
                <label class="btn btn-lg btn-default">
                    <input type="radio" name="lights" value="group-1">
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                    <i class="fa fa-lightbulb-o fa-2x black"></i>
                </label>
            </div>
        </div>
    </div>

    <hr/>

    <h2>Action</h2>

    <div class="row">
        <div class="col-xs-2">
            <h3>ON/OFF</h3>

            <div class="onoff btn-group">
                <button class="btn btn-lg btn-default" data-on="on">
                    On
                </button>
                <button class="btn btn-lg btn-default" data-on="off">
                    Off
                </button>
            </div>
        </div>
        <div class="col-xs-6">
            <h3>Color</h3>

            <div class="colors btn-group">
                <button class="btn btn-lg btn-default" data-color="red">
                    <label class="label bg-red">&nbsp;&nbsp;</label>
                </button>
                <button class="btn btn-lg btn-default" data-color="orange">
                    <label class="label bg-orange">&nbsp;&nbsp;</label>
                </button>
                <button class="btn btn-lg btn-default" data-color="yellow">
                    <label class="label bg-yellow">&nbsp;&nbsp;</label>
                </button>
                <button class="btn btn-lg btn-default" data-color="green">
                    <label class="label bg-green">&nbsp;&nbsp;</label>
                </button>
                <button class="btn btn-lg btn-default" data-color="blue">
                    <label class="label bg-blue">&nbsp;&nbsp;</label>
                </button>
                <button class="btn btn-lg btn-default" data-color="purple">
                    <label class="label bg-purple">&nbsp;&nbsp;</label>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h3>Alert</h3>
            <div class="alerts btn-group">
                <button class="btn btn-lg btn-default" data-alert="select">
                    Select
                </button>
                <button class="btn btn-lg btn-default" data-alert="lselect">
                    Repeat
                </button>
                <button class="btn btn-lg btn-default" data-alert="none">
                    Off
                </button>
            </div>
        </div>
        <div class="col-xs-5">
            <h3>Effect</h3>
            <div class="effects btn-group">
                <button class="btn btn-lg btn-default" data-effect="colorloop">
                    Color loop
                </button>
                <button class="btn btn-lg btn-default" data-effect="none">
                    Off
                </button>
            </div>
        </div>
    </div>

    <hr/>

    <h2>Timer</h2>
    <div class="timer">
      <button class="lt-start btn btn-lg btn-default">LT Start</button>
      <button class="clear-schedule btn btn-lg btn-default">Clear</button>
      <span class="time-reaming">00:00</span>
    </div>
</div>
