$icon-font-path: "../fonts";
$fa-font-path: "../fonts";

@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import 'colors';

body {
  background-color: #F0F1EB;
}

header {
  .navbar {
    background: #16A085;
    a {
      color: #ffffff;
    }
  }
  .lights-state {
    background-color: #fff;
    margin: 5px 0;
    padding: 6px;
    .light {
      margin: 0 5px;
    }
  }
}
.content {
  margin-top: 50px;
}
.loading {
  margin-top: 70px;
  font-size: 2em;
  text-align: center;
}
.lights {
  margin: 20px 0 0;
  i.fa {
    margin: 0 3px;
  }
}
.time-reaming {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  vertical-align: middle;
}