$icon-font-path: "../fonts";
$fa-font-path: "../fonts";

@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import 'flat_colors';
@import 'colors';

header {
  .navbar {
    a {
      color: #ffffff;
    }
  }
}
.content {
  margin-top: 50px;
}
.loading {
  margin-top: 70px;
  font-size: 2em;
  text-align: center;
}